<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change DOM</title>
</head>
<body style="text-align: center; font-family: Arial, serif; font-size: 14pt;">

    <br> <br>
    <p id="count">0</p>
    <button onclick="server.increment()">Increment</button>

    <br> <br>
    <p id="time">TIME</p>
    <button id="reset" onclick="server.reset()">Reset</button>

    <br> <br> <br>

</body>
</html>